<!--Carlos -->
<div class="container bg-white">
  <div class="row">
    <div class="col-lg-9">
      <h1 class="half-color-heading">
        <span class="text-black">The First Heading</span>
        <span class="text-secondary">Will Catch Your Eye</span>
      </h1>
      <p class="small-text">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. This is just more random text that if you bother to read you will see it has no meaning.</p>
     
    </div>
    <div class="col-lg-3">
      <img src="https://i.pinimg.com/originals/6e/c5/47/6ec5473ee84f656b80aeb851deda3fde.jpg" alt="walter" class="rounded-circle" width="300" height="300">
    </div>
  </div>
</div>