<!-- xiang -->

<div class="container border-bottom border-secondary p-3">
  <div class="row">
    <div class="col">
      <img class="rounded-circle img-fluid float-start" alt="avatar1"
        src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" />
      <div class="d-inline">
        <h2 class="d-inline">The second Heading </h2>
        <h2 class="text-secondary d-inline ">Is Pretty Cool Too.</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, temporibus alias. Provident quas possimus,
          iusto at explicabo officiis praesentium soluta iste, dolore alias blanditiis expedita hic, quo neque voluptas
          architecto.</p>
      </div>
    </div>
  </div>
</div>